<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
			<div class="o-header-services__hamburger">
				<a class="o-header-services__hamburger-icon" href="#" role="button">
					<span class="o-header-services__visually-hidden">Open primary navigation</span>
				</a>
			</div>
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Tool or Service name</a>
			<span class="o-header-services__product-tagline">Tagline to explain the product here</span>
		</div>
		<ul class="o-header-services__related-content">
			<li>
				<a href="{{href}}">XXXX</a>
			</li>
			<li>
				<a href="{{href}}">Sign in</a>
			</li>
		</ul>
	</div>

	<nav class="o-header-services__primary-nav" aria-label="primary" >
		<ul class="o-header-services__primary-nav-list">
			<li data-o-header-services-level="1">
				<a aria-current="true" href="{{href}}">Docs</a>
				<ul data-o-header-services-level="2">
					<li>
						<a href="{{href}}">Principles</a>
					</li>
					<li>
						<a href="{{href}}">Components</a>
					</li>
					<li>
						<a href="{{href}}">Services</a>
					</li>
					<li>
						<a href="{{href}}">Tutorials</a>
					</li>
				</ul>
			</li>
			<li data-o-header-services-level="1">
				<a href="{{href}}">Spec</a>
				<ul data-o-header-services-level="2">
					<li>
						<a href="{{href}}">Condensed Spec</a>
					</li>
					<li>
						<a href="{{href}}">Formal Spec</a>
					</li>
					<li>
						<a href="{{href}}">Components</a>
					</li>
					<li>
						<a href="{{href}}">Services</a>
					</li>
					<li>
						<a href="{{href}}">Manifest</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="{{href}}">Registry</a>
			</li>
		</ul>
		<button class="o-header-services__visually-hidden" title="close primary navigation"></button>
	</nav>
</header>
