$o-header-services-is-silent: false;
@import '../../main';

body {
	font-family: arial;
}

.dummy-text {
	@include oTypographySans(1);
	max-width: 500px;
	margin: auto;
	padding: 10px 0;

	a { @include oTypographyLink();}
}
