<header class="o-header-services" data-o-component="o-header-services">

	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#" role="button">
				<span class="o-header-services__visually-hidden">Open primary navigation</span>
			</a>
		</div>
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a class="o-header-services__product-name" href="/">Tool or Service name</a>
			<span class="o-header-services__product-tagline">Tagline to explain the product here</span>
		</div>
		<ul class="o-header-services__related-content">
			<li class="o-header-services__related-content-list-item">
				<a class="o-header-services__related-content-link" href="#">XXXX</a>
			</li>
			<li class="o-header-services__related-content-list-item">
				<a class="o-header-services__related-content-link" href="#">Sign in</a>
			</li>
		</ul>
	</div>
	<nav class="o-header-services__primary-nav">
		<ul class="o-header-services__primary-nav-list">
			<li class="o-header-services__primary-nav-item">
				<a class="o-header-services__primary-nav-link o-header-services__primary-nav-link--selected" href="#item-1">
					Nav item 1
				</a>
			</li>
			<li class="o-header-services__primary-nav-item">
				<a class="o-header-services__primary-nav-link" href="#">
					Nav item 2
				</a>
			</li>
			<li class="o-header-services__primary-nav-item">
				<a class="o-header-services__primary-nav-link" href="#">
					Nav item 3
				</a>
			</li>
			<li class="o-header-services__primary-nav-item">
				<a class="o-header-services__primary-nav-link" href="#">
					Nav item 4
				</a>
			</li>
		</ul>
	</nav>
</header>
