<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top">
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<a href="/">Tool or Service name</a>
			<span class="o-header-services__product-tagline ">Tagline to explain the product here</span>
		</div>
	</div>
</header>
