<header class="o-header-services" data-o-component="o-header-services">
	<div class="o-header-services__top o-header-services__container">
		<div class="o-header-services__hamburger">
			<a class="o-header-services__hamburger-icon" href="#" role="button" aria-haspopup="true" aria-expanded="false">
				<span class="o-header-services__visually-hidden">Show primary navigation</span>
			</a>
		</div>
		<div class="o-header-services__logo"></div>
		<div class="o-header-services__title">
			<h1 class="o-header-services__product-name"><a href="/">Tool or Service name</a></h1>
			<span class="o-header-services__product-tagline">Tagline to explain the product here</span>
		</div>
		<ul class="o-header-services__related-content">
			<li class="o-header-services__related-content-list-item">
				<a class="o-header-services__related-content-link" href="#">XXXX</a>
			</li>
			<li class="o-header-services__related-content-list-item">
				<a class="o-header-services__related-content-link" href="#">Sign in</a>
			</li>
		</ul>
	</div>
	<nav class="o-header-services__primary-nav" aria-label="Primary">
		<div class="o-header-services__container">
			<ul class="o-header-services__nav-list">
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link o-header-services__nav-link--selected" href="#">
						Nav item 1
					</a>
				</li>
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link" href="#">
						Nav item 2
					</a>
				</li>
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link" href="#">
						Nav item 3
					</a>
				</li>
				<li class="o-header-services__nav-item">
					<a class="o-header-services__nav-link" href="#">
						Nav item 4
					</a>
				</li>
			</ul>
		</div>
	</nav>
<!-- sub nav markup -->
	<nav class="o-header-services__subnav" aria-label="Sub navigation">
		<div class="o-header-services__container" data-o-header-services-nav>
			<div class="o-header-services__subnav-content" data-o-header-services-nav-list>
				<ol class="o-header-services__subnav-list o-header-services__subnav-list--breadcrumb" aria-label="Breadcrumb">
					<li class="o-header-services__subnav-item">
						<a class="o-header-services__subnav-link" href="#">
							ancestor section
						</a>
					</li>
					<li class="o-header-services__subnav-item">
						<a class="o-header-services__subnav-link" href="#">
							ancestor section
						</a>
					</li>
					<li class="o-header-services__subnav-item">
						<a class="o-header-services__subnav-link" href="#" >
							current section
						</a>
					</li>
				</ol>

				<ul class="o-header-services__subnav-list o-header-services__subnav-list--children" aria-label="Subsections">
					<li class="o-header-services__subnav-item">
						<a class="o-header-services__subnav-link" href="{{href}}">
							child page
						</a>
					</li>
					<li class="o-header-services__subnav-item">
						<a class="o-header-services__subnav-link" href="{{href}}">
							child page
						</a>
					</li>
					<li class="o-header-services__subnav-item">
						<a class="o-header-services__subnav-link" href="{{href}}" aria-current="true" aria-label="Current page">
							child page
						</a>
					</li>
				</ul>
			</div>
			<button class="o-header-services__scroll-button o-header-services__scroll-button--left" title="scroll left" aria-hidden="true" disabled></button>
			<button class="o-header-services__scroll-button o-header-services__scroll-button--right" title="scroll right" aria-hidden="true" disabled></button>
		</div>
	</nav>
</header>
