/// Fundamental styles for header
/// @param {Boolean} $bleed [whether or not to make the header a bleed header. Defaults to false.]
@mixin oHeaderServicesBase($bleed: false) {
	.o-header-services {
		@include oTypographySans($scale: 0);
		background-color: _oHeaderServicesGet('top-background');
		-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes

		a {
			text-decoration: none;
		}

		ol,
		ul {
			list-style-type: none;
			white-space: nowrap;
		}

		.o-header-services__visually-hidden {
			@include oNormaliseVisuallyHidden;
		}

		.o-header-services__container {
			@include oGridContainer;
		}
	}

	@if $bleed {
		.o-header-services--bleed {
			.o-header-services__container {
				@include oGridContainer($bleed: $bleed)
				max-width: 100%;
				padding: 0 20px;

			}
		}
	}
}

/// Outputs full header styles
/// @param {String} $logo [ft-logo depending on brand (pink or white)]
@mixin oHeaderServices($logo: $o-header-services-default-logo) {
	@include oHeaderServicesBase;
	@include oHeaderServicesTop($logo);
	@include oHeaderServicesPrimaryNav;
	@include oHeaderServicesSubNav;
	@include oHeaderServicesTheme($theme: 'b2b');
	@include oHeaderServicesTheme($theme: 'b2c');
}
