@mixin oHeaderServicesContainer($bleed: false) {
	@include oGridContainer($bleed: $bleed);

	@if $bleed {
		max-width: 100%;
		padding: 0 20px;
	}

	&:before,
	&:after {
		content: '';
	}

	&:after {
		clear: both;
	}
}

@mixin oHeaderServices($logo: $o-header-services-default-logo) {
	@include oHeaderServicesTop($logo);
	@include oHeaderServicesDrawer;
	@include oHeaderServicesPrimaryNav;
	@include oHeaderServicesSearch;
	@include oHeaderServicesSubNav;

	.o-header-services {
		background-color: _oHeaderServicesGet('top-background');
	}

	.o-header-services__container {
		@include oHeaderServicesContainer;
	}

	.o-header-services__bleed-container {
		@include oHeaderServicesContainer($bleed: true);
	}

	@if _oHeaderServicesSupports('b2b') {
		.o-header-services--b2b {
			@include oHeaderServicesTheme($theme: 'b2b');
		}
	}

	@if _oHeaderServicesSupports('b2c') {
		.o-header-services--b2c {
			@include oHeaderServicesTheme($theme: 'b2c');
		}
	}
}
