@mixin oHeaderServicesContainer($bleed: false) {
	@include oGridContainer($bleed: $bleed);

	@if $bleed {
		max-width: 100%;
		padding: 0 20px;
	}
}

@mixin oHeaderServices($logo: $o-header-services-default-logo) {
	@include oHeaderServicesTop($logo);
	@include oHeaderServicesPrimaryNav;
	@include oHeaderServicesSubNav;
	@include oHeaderServicesTheme($theme: 'b2b');
	@include oHeaderServicesTheme($theme: 'b2c');

	.o-header-services {
		background-color: _oHeaderServicesGet('top-background');
		@include oTypographySans($scale: 0);
		-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes

		a {
			text-decoration: none;
		}

		ol,
		ul {
			list-style-type: none;
			white-space: nowrap;
		}
	}

	.o-header-services__container {
		@include oHeaderServicesContainer;
	}

	.o-header-services__bleed-container {
		@include oHeaderServicesContainer($bleed: true);
	}

	.o-header__visually-hidden {
		position: absolute;
		clip: rect(1px, 1px, 1px, 1px);
	}

	.o-header-services__nav-link,
	.o-header-services__subnav-link {
		color: _oHeaderServicesGet('nav-text');
		text-decoration: none;
	}
}
