/// @access private
/// @outputs styling for the drawer
@mixin _oHeaderServicesDrawer {
	.o-header-services__primary-nav--drawer {
		background-color: rgba(0, 0, 0, 0.2);
		overflow-y: auto;

		position: absolute;
		top: $_o-header-services-top-bar-short;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: $_o-header-services-primary-nav-z-index;
		// clip-path: polygon(100% 100%, 100% 0, 0 0, 0 100);

		transition:
			// opacity 1s $o-visual-effects-transition-fade;
			opacity 0.5s $o-visual-effects-transition-fade,
			clip-path 0s ease;

		.o-header-services__primary-nav-list {
			@include oVisualEffectsShadowsElevation('mid');
			flex-direction: column;
			margin: 0;
			padding: 0;
			opacity: 1;
			transform: translateX(0);
			transition:
				opacity 0.2s 0.1s,
				transform 0.5s $o-visual-effects-transition-expand;
			height: 100%;
			width: calc(100% - 120px);
		}

		.o-header-services__related-content {
			display: block;
			margin: 20px 0 0;
			padding: 0;

			li {
				background-color: _oHeaderServicesGet('nav-background');

				a {
					color: inherit;
					font-weight: oFontsWeight('regular');
					text-transform: none;
				}

				a:hover {
					background-color: none;
				}
			}
		}

		&.o-header-services__primary-nav--hidden {
			clip-path: polygon(0 0, 0 0, 0 0, 0 0);
			opacity: 0;

			.o-header-services__primary-nav-list {
				transform: translateX(-100%);
				opacity: 0;
			}
		}
	}
}
