// sass-lint:disable no-qualifying-elements
/// @access private
/// @outputs styling for primary navigation drop down menus
@mixin _oHeaderServicesDropDown() {
	.o-header-services {
		li[data-o-header-services-level] {
			position: relative;
		}

		li[data-o-header-services-level] > a {
			padding-right: 40px;

			&:after {
				@include oIconsGetIcon('arrow-down', _oHeaderServicesGet('nav-text'), 24px);
				content: '';

				padding-left: 16px;
				position: absolute;
				top: 10px;
				transition: transform 0.2s ease;
			}
		}

		ul[data-o-header-services-level] {
			padding-left: 0;
			font-size: 14px;

			position: absolute;
			min-width: auto;

			background: _oHeaderServicesGet('nav-background');
			border: 1px solid _oHeaderServicesGet('nav-border');
			box-sizing: border-box;
			transform: translateY(-100%);
			transition: transform 0.2s ease-in;

			z-index: -1;
		}

		.core li[data-o-header-services-level]:hover,
		li[aria-expanded=true] {
			a:after {
				transform: rotate(-180deg);
			}

			ul[data-o-header-services-level] {
				transform: translateY(0);
			}
		}

		.o-header-services__primary-nav--drawer {
			ul[data-o-header-services-level] {
				border-right: 0;
				opacity: 0;
				transition:
				opacity 0s ease,
				transform 0s ease;
			}

			li[aria-expanded=true] {
				ul[data-o-header-services-level] {
					opacity: 1;
					position: relative;
					z-index: 2;
				}
			}
		}
	}

	.core .o-header-services {
		li[data-o-header-services-level]:hover {
			a:after {
				transform: rotate(-180deg);
			}

			ul[data-o-header-services-level] {
				transform: translateY(0);
			}
		}

		.o-header-services__primary-nav--drawer {
			li[data-o-header-services-level]:hover {
				ul[data-o-header-services-level] {
					opacity: 1;
					position: relative;
					z-index: 2;
				}
			}
		}
	}
}
// sass-lint:enable no-qualifying-elements
