/// @access private
/// @outputs styling for primary nav
@mixin _oHeaderServicesPrimaryNav() {
	.o-header-services__primary-nav {
		position: relative;
		background-color: _oHeaderServicesGet('nav-background');
		border-bottom: 1px solid _oHeaderServicesGet('nav-border');
	}

	.o-header-services__primary-nav-list {
		@include oGridContainer;
		background-color: _oHeaderServicesGet('nav-background');
		display: flex;
		margin: auto;
		@include oGridRespondTo(S) {
			padding: 0;
		};

		a {
			$underline: _oHeaderServicesGet('nav-background') == _oHeaderServicesGet('nav-hover-background');
			@include _oHeaderServicesHover($underline);
			@include oTypographyBold('sans');
			text-transform: uppercase;
		}
	}

	@include _oHeaderServicesDrawer();
};
