@mixin oHeaderServicesPrimaryNav() {
	.o-header-services__toggle--open,
	.o-header-services__toggle--closed {
		&.o-header-services__primary-nav {
			transition: opacity 0.5s $o-visual-effects-transition-fade;
		}

		.o-header-services__nav-list {
			transition: all 0.5s $o-visual-effects-transition-expand;
		}
	}

	.o-header-services__primary-nav {
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.2);

		&[aria-hidden=true] {
			opacity: 0;
			display: none;
			.o-header-services__nav-list {
				transform: translate3d(0, -100%, 0);
			}
		}
		.o-header-services__nav-list {
			background-color: _oHeaderServicesGet('nav-background');
			border: 1px solid _oHeaderServicesGet('nav-border');
			min-width: 170px;
			max-width: max-content;
			display: flex;
			flex-direction: column;
			list-style: none;
			padding: 0;
			margin: 0;
			white-space: nowrap;

			@include oGridRespondTo($until: M) {
				@include oVisualEffectsShadowsElevation('mid');
				transform: translate3d(0, 0, 0);
			}
		}

		@include oGridRespondTo($from: M) {
			background-color: _oHeaderServicesGet('nav-background');
			border-bottom: 1px solid _oHeaderServicesGet('nav-border');
			max-width: 100%;
			position: relative;

			.o-header-services__nav-list {
				flex-direction: row;
				margin: 0 (0 - ($_o-header-services-padding-x * 2));
				border: 0;
			}

			.o-header-services__nav-container {
				@include oHeaderServicesContainer;
			}
		};

		.o-header-services__nav-link {
			@include oTypographyBold('sans');
			color: _oHeaderServicesGet('nav-text');

			text-transform: uppercase;
			text-decoration: none;
			display: block;
			-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
			margin: 0;
			padding: $_o-header-services-padding-y $_o-header-services-padding-x*2;

			&:hover,
			&--selected,
			&[aria-selected=true] {
				color: inherit;
				background-color: _oHeaderServicesGet('nav-hover-background');
			}
		}
	}
};
