@mixin oHeaderServicesPrimaryNav() {
	.o-header-services__primary-nav {
		background-color: _oHeaderServicesGet('nav-background');
		border-bottom: 1px solid _oHeaderServicesGet('nav-border');
	}

	.o-header-services__container[data-o-header-services-nav] {
		overflow: hidden;
		height: 40px;
	}

	.o-header-services__scroll-wrapper {
		overflow: auto;
	}

	.o-header-services__nav-list {
		display: flex;
		list-style: none;
		overflow: auto;
		margin: 0 (0 - ($_o-header-services-padding-x * 2));
		padding: 0;
	}

	.o-header-services__nav-item {
		white-space: nowrap;
	}

	.o-header-services__nav-link {
		@include oTypographySansBold($scale: 0);
		color: _oHeaderServicesGet('nav-text');

		text-transform: uppercase;
		text-decoration: none;
		display: block;
		-webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
		margin: 0;
		padding: $_o-header-services-padding-y $_o-header-services-padding-x*2;

		&:hover,
		&--selected,
		&[aria-selected=true] {
			color: inherit;
			background-color: _oHeaderServicesGet('nav-hover-background');
		}
	}

	.o-header-services__scroll-button {
		$custom-theme: (background: black, accent: 'black-20', colorizer: 'primary');
		@include oButtonsTheme($theme: $custom-theme);
		position: absolute;
		top: 0;
		height: 100%;
		transition: .25s opacity .5s;
		display: inline-block;

		&--left {
			@include oButtonsIconButton('arrow-left', $is-icon-only: true, $theme: $custom-theme);
			min-width: 25px;
			left: 0;
		}

		&--right {
			@include oButtonsIconButton('arrow-right', $is-icon-only: true, $theme: $custom-theme);
			min-width: 25px;
			right: 0;
		}

		&[disabled] {
			opacity: 0;
			pointer-events: none;
		}
	}
};
