@mixin oHeaderServicesSearch {
	.o-header-services__primary-nav--search {
		@include oFormsBaseFeatures();
		@include oFormsSuffixFeature();
		border-bottom: 1px solid _oHeaderServicesGet('nav-border');

		.o-header-services__nav-list {
			float: left;
		}

		.o-forms  {
			margin: 0 0 0 auto;
			float: right;

			@include oGridRespondTo($until: M)  {
				margin: 0 auto;
			}
		}

		.o-forms__affix-wrapper {
			margin: 0;
		}

		.o-forms__text {
			border-bottom: 0;
		}

		.o-forms__suffix {
			padding: 0;
		}

		.o-header-services__search-button {
			@include oTypographySansBold(0);
			@include oButtonsTheme(primary);
			@include oButtonsSize(big);
		}
	}
}
