@mixin oHeaderServicesSearch {
	.o-header-services__search {
		@include oHeaderSearch();
		@include oFormsBaseFeatures();
		@include oFormsSuffixFeature();
		background-color: _oHeaderServicesGet('nav-background');
		border-bottom: 1px solid _oHeaderServicesGet('nav-border');
		padding: 0;

		.o-forms  {
			margin: 0 auto;
			max-width: 80%;
		}

		.o-header__search {
			padding: 0;
			background-color: inherit;
		}

		.o-forms__affix-wrapper {
			margin: 0;
		}

		.o-forms__text {
			border: 0;
			border-left: 1px solid _oHeaderServicesGet('nav-border');
		}

		.o-header-services__search-button {
			@include oTypographySansBold(0);
			@include oButtonsTheme(primary);
			@include oButtonsSize(big);
		}

		.o-header__search-close {
			@include oIconsGetIcon('cross', black, $_o-header-icon-size-large, $iconset-version: 1);
			border: 0;
			margin-left: $_o-header-padding-x;
			vertical-align: top;

			@include oGridRespondTo($until: 'M') {
				display: none;
			}
		}
	}
}
