/// Styling for title section of header
/// @param {String} $logo [ft-logo depending on brand (pink or white)]
/// @access private
@mixin _oHeaderServicesTop($logo: $o-header-services-default-logo) {
	.o-header-services__top {
		@include oGridContainer;
		display: flex;
		color: _oHeaderServicesGet('top-text');
		background-color: _oHeaderServicesGet('top-background');
		overflow: hidden;
		z-index: $_o-header-services-top-bar-z-index;

		a {
			color: inherit;
		}
	}

	.o-header-services__logo {
		width: $_o-header-services-icon-size;
		height: $_o-header-services-icon-size;
		margin: 8px 8px 8px 0;
		background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/ftlogo-v1:#{$logo}?source=o-header-services&format=svg&width=55');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 0;
		@include oGridRespondTo($until: M) {
			margin: 0;
			width: $_o-header-services-top-bar-short;
			height: $_o-header-services-top-bar-short;
		}
	}

	.o-header-services__hamburger {
		height: $_o-header-services-top-bar-short;
		width: $_o-header-services-top-bar-short;
		@include oGridRespondTo(M) {
			display: none;
		}
	}

	.o-header-services__hamburger-icon {
		@include oIconsGetIcon(
			$icon-name: 'hamburger',
			$color: _oHeaderServicesGet('top-text'),
			$container-width: $_o-header-services-icon-size
		);
		height: $_o-header-services-top-bar-short;
		width: $_o-header-services-top-bar-short;
	}

	.o-header-services__title {
		display: flex;
		align-items: center;
		padding-left: 10px;
	}

	.o-header-services__product-name {
		@include oTypographySize($scale: 4);
		@include oTypographyBold('sans');
		text-overflow: ellipsis;

		@include oGridRespondTo($until: M) {
			@include oTypographySize($scale: 2);
		}
	}

	.o-header-services__product-tagline {
		@include oTypographySize($scale: 3);
		margin-left: $_o-header-services-padding-x;
		text-transform: uppercase;
		text-overflow: ellipsis;
		overflow: hidden;

		@include oGridRespondTo($until: L) {
			display: none;
		}
	}

	.o-header-services__related-content {
		margin: 0 0 0 auto;
		padding: 16px $_o-header-services-padding-x;
		display: flex;

		@include oGridRespondTo($until: M) {
			display: none;
		}
	}

	.o-header-services__related-content-list-item {
		background-color: _oHeaderServicesGet('top-background');

		.o-header-services__related-content-link {
			@include oTypographyBold('sans');
			margin: 0 $_o-header-services-padding-x;
			color: _oHeaderServicesGet('top-text');

			@include oGridRespondTo($until: M) {
				display: block;
				padding: $_o-header-services-padding-x $_o-header-services-padding-x*2;
				margin: 0;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
};
