$o-header-services-is-silent: true !default;

$_o-header-services-padding-x: oGridGutter();
$_o-header-services-padding-y: oGridGutter();

$_o-header-services-top-bar-y: oTypographySpacingSize(14);
$_o-header-services-top-bar-y-small: oTypographySpacingSize(11);
$_o-header-services-top-bar-z-index: 2;

$_o-header-services-primary-nav-y: oTypographySpacingSize(9);
$_o-header-services-primary-nav-z-index: 1;

$_o-header-services-icon-size: 40px;

$o-header-services-default-logo: _oHeaderServicesGet('logo');
